[submodule "external/SDL_GameControllerDB"]
	path = external/SDL_GameControllerDB
	url = https://github.com/mdqinc/SDL_GameControllerDB
[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog.git
